.container-registers {
 width: 100%;
 height: 60em;
 display: flex;
 justify-content: center;
 align-self: center;
 align-items: center;
 gap: 0.5%;
}
.container-registers2 {
  width: 600px;
  background-color: #f4f4f4af;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.833);
  padding: 10px;
  height: 55%;
  margin-top: 30px;
 }
.container-registers h2 {
 text-align: center;
 color: #333;
}
/**/

.progress-bar {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.step {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.step.active {
  background-color: #007bff;
}

/**/
.container-registers h6 {
 text-align: center;
 color: #666;
}

.form-register {
 margin-top: 20px;
}

.form-register label {
 display: block;
 margin-bottom: 8px;
 font-size: 14px;
 color: #555;
}

.form-register input {
 width: 100%;
 padding: 10px;
 margin-bottom: 12px;
 font-size: 16px;
 border: 1px solid #ccc;
 border-radius: 4px;
 background-color: #fff;
 color: #333;
}

.form-register input[type='checkbox'] {
 margin-right: 5px;
}

.form-register button {
 width: 100%;
 padding: 12px;
 font-size: 16px;
 border: none;
 border-radius: 4px;
 background-color: #3498db;
 color: #fff;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.form-register button:hover {
 background-color: #0f3955;
}
.terms-checkbox {
 display: flex;
 align-items: center;
 margin-top: 10px;
}

.div-button{
 display: flex;
 gap: 50px;
}

.recaptcha{
 margin-top: 40px;
 margin-bottom: 50px;
}

.mostrarContrasena{
  background-color: rgb(11, 69, 47);
  color: white;
  font-size: 2em;
  width: 10%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.nomostrarContrasena{
  text-align: left;
  background-color:white;
  color: rgb(11, 69, 47);
  font-size: 2em;
  width: 10%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border:2px solid  rgb(11, 69, 47);
  margin-bottom: 10px;
  margin-left: 10px;
}
.imagen2{
  width: 400px;
  border-radius: 8px;
  height: 55%;
  margin-top: 30px;
}
.imagen2 img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}