.container-forgout {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
}

.forgout-form {
 background: #f0f0f0;
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 max-width: 400px;
 width: 100%;
 text-align: center;
}

.forgout-form h2 {
 font-size: 24px;
 margin-bottom: 10px;
}
.hide-button {
 display: none;
}

.forgout-form label {
 margin-bottom: 10px;
 color: #000000;
}

.forgout-form input {
 width: 100%;
 padding: 10px;
 border: 2px solid #ccc;
 border-radius: 4px;
 outline: none;
 transition: border-color 0.3s;
}

.forgout-form button {
 background-color: #4caf50;
 color: #fff;
 padding: 10px 15px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-size: 16px;
 transition: background-color 0.3s;
 margin-top: 10px;
}

.forgout-form button:hover {
 background-color: #45a049;
}
.preguntasecreta{
 padding: 10px;
 color: #45a049;
 text-decoration: underline;
}
.preguntasecreta:hover{
 padding: 10px;
 color: #9c3b3b;
 text-decoration: none;
}