.app__video {
 height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 150px;
}

.app__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 150px;
}


@media (max-width:980px) {
  .app__video {
    height: 50vh;
    width: 100%;
    margin-bottom: 150px;
  }
}

@media (max-width: 500px) {
  .app__video {
    max-height: 2px;
    width: 100%;
    margin-bottom: 150px;
  }
}